body{
    margin: 0;
}
.modal-page{
    background-color: bisque;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    display: flex;
    opacity: 0;
}
.left-size{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    background-color: azure;
    height: 100vh;
}
.right-size{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: wheat;
    height: 100vh;
    align-items: center;
}
.title-block{
    display: flex;
}
.close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}
.btn-block{
    display: flex;
    margin-left: auto;
}