html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

html, body {
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: sans;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #FFFFFF;
}

.content {
  min-height: calc(100vh - 360px);
}

.hidden.hidden {
  display: none;
}

@font-face {
  font-family: 'Spectral';
  font-style: bold;
  font-weight: 600;
  src: url('../fonts/Spectral-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms';
  font-style: bold;
  font-weight: 600;
  src: url('../fonts/TTNorms-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/TTNorms-Regular.woff') format('woff');
}

:root {
  --body-font: 15px/normal TT Norms, sans;
  --info-name-font: 48px/70px Spectral, sans;
  --title-card-font: 18px/normal TT Norms, sans;
  --title-content-font: 32px/36px TT Norms, sans;
  --title-modal-font: 24px/27px TT Norms, sans;
  --description-modal-font: 12px/17px TT Norms, sans;
}

@media(max-width: 1300px) {
  :root {
    --info-name-font: 34px/64px Spectral, sans;
  }
}

/* Header */

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #E5E5E5;
}

.header__mobile {
  display: none;
}

.header__nav-navbar {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: center
}

.header__nav-logo {
  border: 1px solid #F22C2C;
  background-color: #F22C2C;
  width: 56px;
  height: 56px;
}

.header__nav-left {
  display: flex;
  margin-right: 16px;
}

.header__nav-right {
  display: flex;
  margin-left: 56px;
}

.header__nav-item {
  display: flex;
  font: var(--body-font);
  color: #333333;
  font-weight: 600;
  text-decoration: none;
  margin-right: 40px;
}

.header__nav-user {
  font: var(--body-font);
  color: #333333;
  text-decoration: none;
  padding: 0 32px 0 29px;
  right: 0;
  display: flex;
  align-items: center;
  height: 72px;
  border-left: 1px solid #E5E5E5;
  margin-left: auto;
}

.header-svg {
  margin-right: 8px;
}

/* About */

.about {
  display: flex;
}

.about__block {
  width: 1575px;
  height: 580px;
  background-image: url(../img/image22.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.about__info {
  display: flex;
}

.about__info-red {
  display: flex;
  align-items: center;
  height: 200px;
  width: 1043px;
  background-color: #F22C2C;
}

.about__info-black {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 337px;
  background-color: #313131;
}

.info__name {
  margin-left: 177px;
  margin-right: 24px;
  font: var(--info-name-font);
  color: white;
  font-weight: bold;
}

.info__block-line {
  display: flex;
}
.info__name-svg{
  display: none;
}

.info__block {
  margin-left: 56px;
  display: flex;
  flex-direction: column;
}

.info__block-title {
  font: var(--body-font);
  color: white;
  opacity: 0.5;
}

.info__block-name {
  font: var(--title-card-font);
  color: white;
  text-decoration: none;
  margin-top: 8px;
}

.info__block-about {
  font: var(--body-font);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.cart {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.cart__order {
  font: 24px/27px TT Norms, sans;
  font-weight: 600;
  color: #333333;
  margin: 55px 0 24px 0;
}

.cart__empty {
  font: var(--title-card-font);
  color: #A7A7A7;
  margin-top: 24px;
}

/* Tabs */

.f-types {
  display: flex;
  flex-direction: column;
  width: 1400px;
  margin-left: 175px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
  border-color: #E8EAED;
}
.f-types__mobile{
  display: none;
}

.f-types__scroll {
  border: none;
  overflow-x: scroll;
  overflow-y: hidden;
}

.f-types__tabs {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: scroll;
}

.f-types__gradient {
  position: relative;
  width: 140px;
  height: 88px;
  top: -88px;
  margin-left: auto;
  background-image: linear-gradient(to right, transparent 0%, #fff);
}

.f-types__content {
  display: flex;
}

.h-register {
  font: 12px TT Norms, sans;
  position: relative;
  font-weight: 600;
  top: -0.9em;
  opacity: 0.3;
  transition-duration: .2s;
}

.tabcontent {
  color: white;
  display: none;
  height: 100%;
}

.tablinks {
  color: #333333;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  cursor: pointer;
  font: var(--title-card-font);
  font-weight: 600;
  padding: 0;
  background-color: transparent;
  height: 88px;
  display: flex;
  margin-right: 44px;
  transition-duration: .2s;
  padding: 14px 0 14px 0;
  position: relative;
}

.tablinks:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 50%;
  border-bottom: 2px solid transparent;
}

.tablinks:hover .h-register {
  border-color: #F22C2C;
  color: #F22C2C;
  opacity: 1;
}

.tablinks:hover {
  border-color: #F22C2C;
  color: #F22C2C;
}

.f-types__tabs button.active {
  border-color: #F22C2C;
  color: #F22C2C;
}

.tabcontent {
  display: none;
  flex-direction: column;
  border-top: none;
  animation: fadeEffect 0.5s;
}

.content__title {
  font: var(--title-content-font);
  color: #333333;
  font-weight: 600;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 156px;
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 273px;
  text-decoration: none;
  margin: 124px 38px 0 38px;
}

.products__card-add {
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: #F22C2C;
  cursor: pointer;
}

.products__card-img {
  height: 200px;
  width: 275px;
  overflow: hidden;
}

.products__card-name {
  display: flex;
  margin-top: 34px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 2px solid transparent;
  border-color: #2E2E2E;
  transition-duration: .2s;
}

.products__card:hover .products__card-name {
  border-color: #F22C2C;
}

.card-title {
  font: var(--title-card-font);
  font-weight: 600;
  color: #333333;
}

.card-weight {
  font: var(--body-font);
  font-weight: 600;
  opacity: 0.5;
  color: #333333;
  margin-left: 8px;
}

.card-price {
  font: var(--title-card-font);
  font-weight: 600;
  color: #333333;
}

.card-des {
  margin-top: 16px;
}

.card-des__block {
  font: var(--body-font);
  color: #333333;
  opacity: 0.8;
}

.card-des__more {
  text-decoration: none;
  font: var(--body-font);
  color: #333333;
  font-weight: 600;
  opacity: 1;
}

/* Modal */

.blur-it {
  filter: blur(4px);
}

a.btn {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal .open {
  opacity: 1;
  visibility: visible;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out;
}

.modal {
  background-color: #E8EAED;
  width: 100%;
  height: 90vh;
  margin-top: 400px;
  display: flex;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.modal-wrapper.open .modal {
  margin-top: 100px;
  opacity: 1;
}

.modal-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.modal__left-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  background-color: white;
  height: 90vh;
}

.modal__right-block {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #E8EAED;
  height: 90vh;
  align-items: center;
}
.modal__addto-ready{
  display: block;
}

.title-block {
  display: flex;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  text-decoration: none;
  margin-left: auto;
}

.modal__title {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--title-modal-font);
  font-weight: 600;
}

.modal__title h4 {
  opacity: 0.4;
  margin-left: 8px;
}

.modal__description {
  display: flex;
  flex-direction: column;
  font: var(--body-font);
  margin-top: 40px;
  width: 282px;
}

.modal__description h5 {
  opacity: 0.4;
}

.modal__description h6 {
  margin-top: 16px;
}

.modal__calories {
  display: flex;
  flex-direction: column;
}

.modal__calories h4 {
  font: 15px/21px TT Norms, sans;
  opacity: 0.4;
}

.modal__calories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 17px;
}

.modal__calories-values h3 {
  font-weight: 600;
}

.modal__counter {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10.75em;
  background-color: #F22C2C;
  margin-top: auto;
}

.modal__counter-quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: var(--body-font);
  color: white;
  background-color: #B81111;
  width: 104px;
  margin-right: auto;
}

.modal__counter-quantity span {
  text-decoration: none;
  color: white;
  padding: 25px;
  cursor: pointer;
}

.modal__counter-quantity .counter__result {
  padding: 0;
  cursor: auto;
}

.modal__addto {
  font: var(--body-font);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.modal__addto-price {
  padding-right: 40px;
  border-right: 1px solid #FFFFFF;
}

.modal__addto-add {
  text-decoration: none;
  color: white;
  margin-left: 40px;
  font: var(--title-card-font);
  cursor: pointer;
}

@media(max-width: 1700px) {
  .f-types {
    width: 1175px;
  }
  .about__block {
    width: 1350px;
  }
}

@media(max-width: 1600px) {
  .f-types {
    width: 1055px;
  }
  .about__block {
    width: 1230px;
  }
}

@media(max-width: 1510px) {
  .f-types {
    width: 990px;
    margin-left: 30px;
  }
  .about__block {
    width: 1020px;
  }
  .about__info-red {
    height: 160px;
  }
  .about__info-black {
    height: 160px;
  }
  .info__name {
    margin-left: 30px;
  }
  .products {
    justify-content: space-evenly;
  }
}

@media(max-width: 1300px) {
  .about__block {
    width: 760px;
  }
  .f-types {
    width: 730px;
  }
  .info__block-line {
    display: flex;
    margin-left: 30px;
  }
  .about__info-red {
    display: block;
  }
  .info__name {
    margin-top: 10px;
  }
  .info__block {
    margin: 10px 20px 30px 0;
  }
  .modal__addto-add {
    margin-left: 20px;
  }
  .modal__addto-price {
    padding-right: 20px;
  }
  .modal__left-img {
    width: 70%;
  }
  .modal__left-block {
    width: 65%;
  }
  .modal__right-block {
    width: 35%;
  }
  .modal__title {
    margin-top: 0;
  }
  .modal__description {
    margin-top: 40px;
}
.modal__counter {
  height: 30%;
}
}

@media(max-width: 1020px) {
  .about__block {
    background-size: 140%;
    width: 100%;
    height: 480px;
  }
  .f-types {
    width: 100%;
  }
  
  .header__nav {
    display: none;
  }
  .header__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 16px 0 16px;
  }
  .about {
    flex-direction: column;
  }
  .cart {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .cart__order-svg {
    display: none;
  }
  .cart__order {
    font: 25px/21px TT Norms, sans;
    font-weight: 600;
    color: #333333;
    margin: 35px 0 35px 0;
  }
  .cart__empty {
    display: none;
  }
  .products {
    padding-bottom: 56px;
}
.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #E8EAED;
}
.modal {
  height: 100vh;
}
.modal__left-block {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 90vh;
}
.modal__left-img {
  width: 35%;
}
.modal__title {
  margin-top: 25px;
  margin-left: 50px;
  font: var(--title-modal-font);
}
.modal-wrapper.open .modal {
  margin-top: 0;
}

.modal__counter-quantity {
  width: 155px;
  flex-direction: row;
}
.modal__title h2{
  font: var(--title-modal-font);
  font-weight: 600;
}
.modal__description {
  width: 100%;
  margin-left: 50px;
  padding-right: 50px;
}
.modal__right-block {
  width: 100%;
  align-items: start;
}
.modal__counter {
  height: 16%;
}
.modal__calories {
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 14px;
  margin-bottom: 14px;
}
.modal__calories-values{
  margin-right: 14px;
}
.modal__addto-add {
  display: none;
}
.modal__addto-price{
  display: none;
}
.modal__addto-ready{
  display: flex;
  text-transform: uppercase;
  cursor: pointer;
}
.modal__description h6 {
  margin-top: 14px;
}
.modal__left-img {
  width: 45%;
}
}
@media(max-width: 840px){
  .about__block {
    background-size: 160%;
  }
}
@media(max-width: 690px){
  .about__block {
    height: 430px;
    background-size: 150%;
  }
  .about__info-black {
    display: none;
}
.info__block {
  margin: 10px 50px 30px 0;
}
.info__name-svg{
  display: flex;
  margin-top: 18px;
}
.modal__title h2{
  font:var(--title-card-font)
}
.about__info-line {
  display: flex;
  align-items: center;
}
}
@media (max-width: 510px){
  .about__block {
    height: 480px;
    background-size: 100%;
    background-image: url(../img/image1.png);
}
.info__block-name {
  font: var(--body-font);
}
.info__block {
  margin: 10px 30px 10px 0;
}

.about__info-line{
  display: flex;
    align-items: center;
}
.products {
  justify-content: center;
}
.f-types__tabs {
  display: none;
}
.f-types__gradient {
  display: none;
}
.f-types__content {
  margin-top: 24px;
}
  .f-types__mobile{
    position: absolute;
    right: 20px;
    border: 1px solid #F22C2C;
    height: 48px;
    width: 48px;
    background-color: #F22C2C;
    border-radius: 48px;
    display: flex;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5)
  }
  .f-types__mobile-dots{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    right: -13px;
    top: 12px;
  }
  .f-types__mobile-dots span{
    height: 3px;
    width: 3px;
    border: 1px solid white;
    background-color: white;
    border-radius: 1px;
    margin: 1.5px;
  }
  .f-types {
    margin-left: 0;
}
.content__title {
  margin-left: 30px;
}
.cart__order {
  font: 15px/21px TT Norms, sans;
}
}
@media(max-width: 440px){
  .modal__left-img {
    width: 85%;
}
.modal__description {
  margin-left: 20px;
}
.modal__title{
  margin-left: 20px;
}
.modal__title h2 {
  font-weight: bold;
}
.modal__description {
  margin-top: 20px;
}
}
@media(max-width: 360px){
  .products__card {
    margin: 124px 28px 0 28px;
}
.modal__left-img {
  width: 75%;
}
.modal__left-block {
  height: 50vh;
}
}